<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learn.translationcompat">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity"/>
        <activity android:name=".Login.LoginSuccessActivity"/>
        <activity android:name=".Login.RegisterActivity"/>
        <activity android:name=".Login.ForgetPasswordActivity"/>
        <activity android:name=".Login.PersonalInformationActivity"/>
        <activity android:name=".pagelist.PageListActivity"/>
        <activity android:name=".pagelist.PageDetailActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pagelist.PageDetail2Activity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pagelist.PageDetail3Activity"
                  android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>